* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 5%;
  margin-right: 20%;
}

.navMenu {
  display: flex;
  gap: 100%;
  text-decoration: none;
  list-style: none;
  padding-left: 0;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
}

.logoImg {
  width: 300px;
  height: 150px;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.items {
  display: flex;
  width: 300px;
  box-shadow: 0px 4px 5px rgba(0,0,0, 0.2);
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
  padding: 15px;
}

.like-comments {
  font-size: 70%;
  display: flex;
  gap: 15px;
  padding: 5%;
}

i {
  padding: 10px;
  font-size: 15px;
  white-space: nowrap;
}

.items img {
  width: 100%;
}

.title-div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-self: center;
  text-align: center;
  justify-content: center;
  gap: 20px;
}

.reaction {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 25%;
}

button {
  margin: 5%;
  padding: 10px 20px;
  border-radius: 8px;
}

.likes {
  display: flex;
  justify-content: flex-end !important;
  text-align: right;
  width: 200px;
}

.popUpComment {
  display: none;
}

.popComment.active {
  display: flex;
}

.popupitems {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #fff;
  position: absolute;
  width: 170%;
  height: auto;
  z-index: 10;
  padding-top: 30%;
  padding-left: 70%;
  padding-bottom: 30%;
  margin: auto;
}

.info {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  text-align: center;
  padding-left: 0%;
}

.infoChild {
  font-size: 60%;
}

.delete {
  background: none;
  border: none;
  align-self: flex-end;
  margin-right: 35%;
  cursor: pointer;
  font-size: 125%;
}
