.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }


.items {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 20px;
}

.titleDiv {
    display: flex;
    width: 300px;
    align-self: center;
    text-align: center;
    justify-content: center;
}

button {
 margin-top: 15px;
 padding: 10px 20px;
 border-radius: 8px;
}

.likes {
    display: flex;
    justify-content: flex-end!important;
    text-align: right;
    width: 200px;
}

.popUpComment {
    display: none;
}

.popComment.active {
    display: flex;  
}

.popupitems {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #fff;
  position: absolute;
  width: 170%;
  height: auto;
  z-index: 10;
  padding-top: 30%;
  padding-left: 70%;
  padding-bottom: 30%;
  margin: auto;
}
 
.info {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  text-align: center;
  padding-left: 0%;
}

.infoChild {
  font-size: 60%;
}

.delete {
  background: none;
  border: none;
  align-self: flex-end;
  margin-right: 35%;
  cursor: pointer;
  font-size: 125%;
}



