* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 5%;
  margin-right: 20%;
}

.navMenu {
  display: flex;
  gap: 100%;
  text-decoration: none;
  list-style: none;
  padding-left: 0;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
}

.logoImg {
  width: 300px;
  height: 150px;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.items {
  display: flex;
  width: 300px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
  padding: 15px;
}

.like-comments {
  font-size: 50%;
  display: flex;
  gap: 15px;
  padding: 5%;
}

i {
  padding: 10px;
  font-size: 13px;
  white-space: nowrap;
}

.items img {
  width: 100%;
}

.title-div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-self: center;
  text-align: center;
  justify-content: center;
  gap: 20px;
}

.reaction {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 25%;
}

button {
  margin: 5%;
  padding: 10px 20px;
  border-radius: 8px;
}

.likes {
  display: flex;
  justify-content: flex-end !important;
  text-align: right;
  width: 200px;
}

.popUpComment {
  display: none;
}

.popComment.active {
  display: flex;
}

.popupitems {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #fff;
  position: absolute;
  width: 170%;
  height: auto;
  z-index: 10;
  padding-top: 30%;
  padding-left: 70%;
  padding-bottom: 30%;
  margin: auto;
}

.info {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  text-align: center;
  padding-left: 0%;
}

.infoChild {
  font-size: 60%;
}

.delete {
  background: none;
  border: none;
  align-self: flex-end;
  cursor: pointer;
  padding: 0%;
}

.fa-xmark {
  font-size: 170%;
}

.popup {
  display: flex;
  width: 500px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
  padding: 15px;
}

.postimage {
  width: 100%;
  margin-top: -5%;
}

.titlemovie {
  margin: 2%;
}

.formaction {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 1rem;
  width: 100%;
}

.name,
.textarea {
  padding: 10px;
  width: 100%;
}

.textarea {
  height: 90px;
}

.list,
.firstelement {
  padding: 3%;
  white-space: nowrap;
  align-self: flex-start;
  list-style-type: none;
}

.lorem {
  text-align: center;
}

.inactive {
  display: none;
}
